@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.manager{
    margin-top: 10px;
    .title{
        text-align: center;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        font-size:20px;
    }
    .thems{
        display:flex;
        justify-content: space-between;
        align-items: center;
        p{
            font-size:13px;
            font-weight:bold;
            font-family: 'Roboto Slab', serif;
            padding:5px;
            border-radius:4px;
        }
        .active{
            background-color: #ff0000;
            color:#fff
        }
        p:hover{
            cursor:pointer;
        }
    }
    .form_thems{
        .form{
            display:none;
        }
        .active{
            display:block;
        }
    }
}